#dropdown {
  display: none;
}

h3 {
  font-weight: bold;
  line-height: 30px;
}

button {
  color: #ffffff;
  background-color: #000000d5;
  font-family: cursive;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  border: 2px solid #000000;
}

button:hover {
  background-color: #ffffff;
  color: #000000d5;
  /* font-weight: bolder; */
  border: 2px solid #000000;
  cursor: pointer;
}

h1{
    text-align: center
}

span {
    font-size: xx-large;
}
